.info-container:hover {
    
    transition: 1s;

    background-image: linear-gradient(to bottom, rgb(255, 255, 255),  rgba(255, 255, 255, 0.815));
    box-shadow: 4px 4px rgba(0, 0, 0, 0.288);

    border-radius: 4px 14px 4px 14px;
  }