@media only screen and (max-width: 1200px) {
    .person-info-table {
        width: 98%;
        margin: 5px;
    }
    

    .person-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        margin-top: 0px;
        height:98%;
        
        
    }

    .person-box-header {
        width: 96%;
    }

    .person-box {
        padding: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas: "person-image person-box-header person-box-header person-box-header"
              "person-image person-info person-info person-info"
              "social-networks person-info person-info person-info";
    }
}/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {

    .modal-container {
        height: auto;
        width: 75%;
        margin: 0 auto;
        padding: 0;
    }    

.common-bg-color {
    margin: 5px;
    width: 98%;
}
.all-info-box {
    width: 99%;
}

.box {

    margin: 15px auto;
    width: 99%;
    
    height: auto;
}
.person-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
    
}
.person-box-header {
    height: 45px;
    font-size: 22px;
    vertical-align: center;
    padding: 0;
    margin: 5px;
    box-shadow: none;
    width: 96%;
}

.person-image {
    width: 310px;
    margin: 5px;
}

.person-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 96%;
}

.person-info-table {
    width: 290px;
    margin: 5px;

}

.beer-box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beer-box-info {
    flex-direction: column;
    width: 290px;
}
.beer-box-table {
    width: 90%;
    margin: 15px auto;
}

.beer-box-single-button {
    width: 90%;
    margin: 10px auto;
}

td {
    height: 30px;
}



table {
    width: 280px;
}
}

.modal-button {
    width: 70%;
    margin: 15px auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1200px) {
    .person-info-table {
        width: 98%;
        margin: 5px;
    }
}