.person-box {
    padding: 25px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, 200px);
    grid-template-areas:
          "person-image person-box-header person-box-header person-box-header"
          "person-image person-info person-info person-info"
          "social-networks person-info person-info person-info";
  }

.person-image {
  border: 1px black dotted;
  grid-area: person-image;
  width: 100%;
  background-color: rgba(240, 255, 255, 0.692);

}
.person-box-header {
  grid-area: person-box-header;
  background-color: rgba(255, 255, 255, 0.74);
  border-bottom: 2px black solid;
  border-top: 2px black solid;

  box-shadow: 10px 16px rgba(66, 66, 66, 0.288);

  width: 95%;
  height: 80px;
  margin: 0 auto;
  padding: 10px;

  text-align: center;
  font-size: 48px;
  font-weight: 200;
}

.person-info {
    background-color: rgba(255, 253, 253, 0.884);
    box-shadow: 10px 16px rgba(66, 66, 66, 0.288);

    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;

    grid-area: person-info;

    display: flex;
    flex-direction: row;
}

.person-info-table {
    width: 360px;
    border: 2px black solid;
    border-collapse: collapse;
    margin: 0;
    text-align: center;
}

.person-info-data-name {
    width: 30%;
    font-style: italic;
}