* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }

  main {
    background-image: url('../alcohol-bg.jpg');
    background-size: 100% 200%;
    background-attachment: scroll;
    
    transition: 0.5s;


    display: flex;
    flex-direction: column;
  }
  .common-bg-color {
    margin: 25px;
    margin-bottom: 0;

    padding: 10px;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.192),  rgba(0, 0, 0, 0.733));
    height: 98%
  }

  .all-info-container {
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to bottom, rgba(233, 233, 233, 0),  rgb(114, 108, 108));
    transition: 0.5s;
  }

  .info-container {
    margin: 40px; 
    height: 450px;
    width: 80%;
    transition: 0.5s;

    background-image: linear-gradient(to bottom, rgb(255, 255, 255),  rgba(255, 255, 255, 0.438));
    box-shadow: 10px 16px rgba(0, 0, 0, 0.288);

    border-radius: 12px 0px 12px 0px;
  }

  .box {
      height: auto;
  }

  .main-heading {
      background-color: cornsilk;
      font-size: 24px;
      height: auto;
      vertical-align: center;
      text-align: center;
      padding: 15px;
      width: 100%;
      border-bottom: 1px black solid;
  }